body {
    font-family: 'Roboto';
    background-color: skyblue;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

#option-pane {
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    border-width: 1px;
    background-color: antiquewhite;
    margin-left: 5px;    
}

#option {
    margin: 3px;
}

